<h2>Monatsbericht</h2>

<div class="form-inline" style="margin-bottom: 12px;">
	<label>Jahr:</label>
	<select class="form-control" ng-model="jahr" ng-change="laden()" id="feld-jahr"
		ng-options="j for j in jahre"></select>
</div>

<table class="table table-striped" id="bericht-tabelle">
	<tr>
		<th>Monat</th>
		<th class="text-right">Aufträge</th>
		<th class="text-right">Rechnungen</th>
		<th class="text-right">Umsatz netto</th>
		<th class="text-right">Umsatz brutto</th>
	</tr>
	<tr ng-repeat="m in monate">
		<td>{{m.monatName}}</td>
		<td class="text-right">{{m.anzahlAuftraege}}</td>
		<td class="text-right">{{m.anzahlRechnungen}}</td>
		<td class="text-right">{{m.umsatzNetto | euro}}</td>
		<td class="text-right">{{m.umsatzBrutto | euro}}</td>
	</tr>
	<tr>
		<th>Gesamt</th>
		<th class="text-right" id="summe-auftraege">{{summeAuftraege}}</th>
		<th></th>
		<th class="text-right" id="summe-netto">{{summeNetto | euro}}</th>
		<th class="text-right" id="summe-brutto">{{summeBrutto | euro}}</th>
	</tr>
</table>

<h4>Top-Kunden {{jahr}}</h4>
<table class="table table-condensed" id="topkunden-tabelle" style="max-width: 600px;">
	<tr>
		<th>#</th>
		<th>Kunde</th>
		<th class="text-right">Aufträge</th>
		<th class="text-right">Umsatz brutto</th>
	</tr>
	<tr ng-repeat="k in topKunden">
		<td>{{$index + 1}}</td>
		<td>{{k.nachname}}{{k.vorname ? ' ' + k.vorname : ''}}</td>
		<td class="text-right">{{k.anzahl_auftraege}}</td>
		<td class="text-right">{{k.umsatz | euro}}</td>
	</tr>
</table>
