<h2 ng-if="neu">Neuer Kunde</h2>
<h2 ng-if="!neu">Kunde: {{kunde.anzeigeName}}</h2>

<div class="row">
	<div class="col-md-6">
		<form name="kundeForm" ng-submit="speichern()">
			<div class="form-group">
				<label>Anrede</label>
				<select class="form-control" ng-model="kunde.anrede" id="feld-anrede">
					<option>Herr</option>
					<option>Frau</option>
					<option>Firma</option>
				</select>
			</div>
			<div class="form-group">
				<label>Vorname</label>
				<input type="text" class="form-control" ng-model="kunde.vorname" id="feld-vorname">
			</div>
			<div class="form-group">
				<label>Nachname *</label>
				<input type="text" class="form-control" ng-model="kunde.nachname" id="feld-nachname">
			</div>
			<div class="form-group">
				<label>Telefon</label>
				<input type="text" class="form-control" ng-model="kunde.telefon" id="feld-telefon">
			</div>
			<div class="form-group">
				<label>E-Mail</label>
				<input type="text" class="form-control" ng-model="kunde.email" id="feld-email">
			</div>
			<div class="form-group">
				<label>Straße</label>
				<input type="text" class="form-control" ng-model="kunde.strasse" id="feld-strasse">
			</div>
			<div class="row">
				<div class="col-xs-4">
					<div class="form-group">
						<label>PLZ</label>
						<input type="text" class="form-control" ng-model="kunde.plz" id="feld-plz">
					</div>
				</div>
				<div class="col-xs-8">
					<div class="form-group">
						<label>Ort</label>
						<input type="text" class="form-control" ng-model="kunde.ort" id="feld-ort">
					</div>
				</div>
			</div>
			<div class="form-group">
				<label>Notiz</label>
				<textarea class="form-control" rows="2" ng-model="kunde.notiz" id="feld-notiz"></textarea>
			</div>
			<button type="submit" class="btn btn-primary" id="btn-kunde-speichern">Speichern</button>
			<a href="#!/kunden" class="btn btn-default">Zurück zur Liste</a>
		</form>
	</div>

	<div class="col-md-6" ng-if="!neu">
		<h4>Fahrzeuge</h4>
		<table class="table table-condensed" id="fahrzeuge-tabelle">
			<tr>
				<th>Kennzeichen</th>
				<th>Fahrzeug</th>
				<th>Baujahr</th>
				<th>Pickerl bis</th>
				<th></th>
			</tr>
			<tr ng-repeat="f in fahrzeuge">
				<td>{{f.kennzeichen}}</td>
				<td>{{f.marke}} {{f.modell}}</td>
				<td>{{f.baujahr}}</td>
				<td>{{f.pickerlDatum | date:'dd.MM.yyyy'}}</td>
				<td class="text-right">
					<button class="btn btn-xs btn-danger" ng-click="fahrzeugLoeschen(f)">X</button>
				</td>
			</tr>
			<tr ng-if="fahrzeuge.length == 0">
				<td colspan="5" class="text-muted">Noch kein Fahrzeug angelegt.</td>
			</tr>
		</table>

		<button class="btn btn-default btn-sm" ng-click="zeigeFahrzeugForm = !zeigeFahrzeugForm"
			id="btn-fahrzeug-form">
			Fahrzeug hinzufügen
		</button>

		<div ng-if="zeigeFahrzeugForm" style="margin-top: 12px; border: 1px solid #dddddd; padding: 10px;">
			<div class="form-group">
				<label>Kennzeichen *</label>
				<input type="text" class="form-control" ng-model="neuesFahrzeug.kennzeichen" id="feld-kennzeichen">
			</div>
			<div class="row">
				<div class="col-xs-6">
					<div class="form-group">
						<label>Marke</label>
						<input type="text" class="form-control" ng-model="neuesFahrzeug.marke" id="feld-marke">
					</div>
				</div>
				<div class="col-xs-6">
					<div class="form-group">
						<label>Modell</label>
						<input type="text" class="form-control" ng-model="neuesFahrzeug.modell" id="feld-modell">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<div class="form-group">
						<label>Baujahr</label>
						<input type="number" class="form-control" ng-model="neuesFahrzeug.baujahr" id="feld-baujahr">
					</div>
				</div>
				<div class="col-xs-6">
					<div class="form-group">
						<label>km-Stand</label>
						<input type="number" class="form-control" ng-model="neuesFahrzeug.kmStand" id="feld-kmstand">
					</div>
				</div>
			</div>
			<button class="btn btn-primary btn-sm" ng-click="fahrzeugSpeichern()" id="btn-fahrzeug-speichern">
				Fahrzeug speichern
			</button>
		</div>
	</div>
</div>
