<h2>Kunden</h2>

<div class="row" style="margin-bottom: 10px;">
	<div class="col-md-5">
		<form ng-submit="suchen()">
			<div class="input-group">
				<input type="text" class="form-control" id="suchfeld" placeholder="Name oder Ort suchen..."
					ng-model="suche">
				<span class="input-group-btn">
					<button class="btn btn-default" type="submit" id="btn-suchen">Suchen</button>
				</span>
			</div>
		</form>
	</div>
	<div class="col-md-7 text-right">
		<a href="#!/kunden/neu" class="btn btn-primary" id="btn-kunde-neu">Neuer Kunde</a>
	</div>
</div>

<table class="table table-striped table-hover" id="kunden-tabelle">
	<tr>
		<th>Name</th>
		<th>Telefon</th>
		<th>E-Mail</th>
		<th>Ort</th>
		<th></th>
	</tr>
	<tr ng-repeat="k in kunden">
		<td><a href="#!/kunden/{{k.id}}">{{k.anzeigeName}}</a></td>
		<td>{{k.telefon}}</td>
		<td>{{k.email}}</td>
		<td>{{k.plz}} {{k.ort}}</td>
		<td class="text-right">
			<button class="btn btn-xs btn-danger" ng-click="loeschen(k)">Löschen</button>
		</td>
	</tr>
	<tr ng-if="kunden.length == 0">
		<td colspan="5" class="text-muted">Keine Kunden gefunden.</td>
	</tr>
</table>
