<div ng-if="rechnung">

	<p class="hidden-print">
		<a href="#!/rechnungen" class="btn btn-default">Zurück</a>
		<button class="btn btn-primary" ng-click="drucken()" id="btn-drucken">Drucken</button>
		<span class="label label-success" ng-if="rechnung.bezahlt" style="margin-left:10px;">
			bezahlt am {{rechnung.bezahltAm | date:'dd.MM.yyyy'}}
		</span>
		<span class="label label-danger" ng-if="!rechnung.bezahlt" style="margin-left:10px;">offen</span>
	</p>

	<div class="rechnung-blatt" id="rechnung-blatt">
		<div class="row">
			<div class="col-xs-6">
				<h2>KFZ-Werkstatt Moser GmbH</h2>
				<p>
					Gewerbeparkstraße 12<br>
					4320 Perg<br>
					Tel: +43 7262 12345<br>
					UID: ATU12345678
				</p>
			</div>
			<div class="col-xs-6 text-right">
				<h3 id="rechnung-nummer">Rechnung {{rechnung.rechnungNr}}</h3>
				<p>
					Datum: {{rechnung.ausgestelltAm | date:'dd.MM.yyyy'}}<br>
					Auftrag: {{rechnung.auftragNr}}
				</p>
			</div>
		</div>

		<p ng-if="auftrag">
			<strong>Kunde:</strong> {{rechnung.kundeName}}<br>
			<strong>Fahrzeug:</strong> {{auftrag.kennzeichen}} - {{auftrag.fahrzeugBezeichnung}}<br>
			<strong>Arbeiten:</strong> {{auftrag.beschreibung}}
		</p>

		<table class="table" ng-if="auftrag">
			<tr>
				<th>Position</th>
				<th class="text-right">Menge</th>
				<th class="text-right">Einzelpreis</th>
				<th class="text-right">Betrag</th>
			</tr>
			<tr ng-repeat="p in auftrag.positionen">
				<td>{{p.bezeichnung}}</td>
				<td class="text-right">{{p.menge}}</td>
				<td class="text-right">{{p.einzelpreis | euro}}</td>
				<td class="text-right">{{p.gesamtpreis | euro}}</td>
			</tr>
		</table>

		<table class="table" style="max-width: 300px; margin-left: auto;">
			<tr>
				<th>Summe netto</th>
				<td class="text-right" id="rechnung-netto">{{rechnung.summeNetto | euro}}</td>
			</tr>
			<tr>
				<th>USt 20%</th>
				<td class="text-right" id="rechnung-ust">{{rechnung.ust | euro}}</td>
			</tr>
			<tr>
				<th>Gesamt</th>
				<td class="text-right" id="rechnung-brutto"><strong>{{rechnung.summeBrutto | euro}}</strong></td>
			</tr>
		</table>

		<p class="text-muted" style="margin-top: 30px; font-size: 11px;">
			Zahlbar prompt ohne Abzug. Es gelten unsere allgemeinen Geschäftsbedingungen.
		</p>
	</div>

</div>
